.arena {
    width: 80%;
    height: 50vh;
    display: flex;
    border: 15px solid black; 
    margin-left: 175px;
    background-color: yellow;
}

.score {
    width: 300px;
    height: 100px;
    border: 10px solid rgb(7, 100, 46);
    text-align: center;
}

.player {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    position: relative;
    top: 10px;
    left: 15px;
    right: 5px;
    bottom: 5px;
    background-color: green;
}

.ball {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    left: 100px;
    top: 100px;
    background-color: red;
}

.controls {
    margin-top: 20px;
    width: 400px;
    height: 120px;
    text-align: center;
    position: relative;
    left: 650px;
}

.controls button {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: aqua;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bolder;
}

.mode {
    position: absolute;
    left: 650px;
    top: 300px;
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: lightgreen;
    border: 10px solid rgb(98, 22, 22);
}

.mode div {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

.mode div:hover {
    cursor: pointer;   
}

button {
    width: 100px;
    margin: 10px;
}

#result {
    width: 500px;
    height: 180px;
    border: 10px solid black;
    position: absolute;
    left: 600px;
    top: 250px;
    text-align: center;
    background-color: brown;
    display: none;
}

#timer {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    position: absolute;
    left: 1400px;
    top: 50px;
}